<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo-list</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/0f887e77e3.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app" class="main">
        <div class="stats">
            <h3 class="stats__title"> {{"Задачи: " + tasks.length}} </h3>
            <task @task_done="delete_task(index)" :data="data" v-for="(data, index) in tasks" :key="index"></task>
        </div>
        <div class="add_task">
            <div class="add_task__input">
                <input type="text" v-model="new_task.title" placeholder="Введите задачу">
                <textarea v-model="new_task.desc" placeholder="Описание задачи"></textarea>
            </div>
            <button @click="add_task()" class="add_task__btn"><i class="far fa-plus-square"></i></button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./script.js"></script>
</body>

</html>